*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@media only screen and (max-width: 992px)
{

  html,body{
    overflow-x: hidden;
  }

  .burger div{
    width: 40px;
    height: 6px;
    background-color:#874b0c;
    margin: 5px;
    display: block;
    cursor: pointer;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color:#FFD966;
    font-family: sans-serif;

  }

  .nav-links{
    position: fixed;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background-color:#FFD966;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 44%;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 505;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-links a{
    color: #874b0c;
    text-decoration: none;
  }

  #logo{
    font-family: 'Calibri','sans-serif';
    color:#FFD966;
    font-size: 2.35em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform: rotate(-1.5deg);
    text-shadow: 1px 1px #4472C4;
  }

  .nav-active{
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }

    to{
      opacity: 1;
      transform: translateX(0px);
    }

  }
}


@media only screen and (min-width: 992px)
{
    nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 6vh;
      background-color:#FFD966;
      font-family: sans-serif;

    }

    .nav-links{
      display: flex;
      justify-content: space-around;
      width: 30%;
      font-size: 0.75em;
      letter-spacing: 1px;
    }

    .nav-links a{
      color: #874b0c;
      text-decoration: none;
    }

    #logo{
      font-family: 'Calibri','sans-serif';
      color:#FFD966;
      font-size: 1.1em;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: black;
      transform: rotate(-1.5deg);
      text-shadow: 0.5px 0.5px #4472C4;
    }

    .burger{
      display: none;
    }

}
